.container {
  display: flex;
  justify-content: flex-start;
  gap: 0px;
  flex-wrap: wrap;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25%;
  height: 49vh;
  padding: 2px;
  box-sizing: border-box;
}

.block-content {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block-content .title {
  font-size: 42px;
  font-weight: bold;
  color: white;
  text-align: center;
}

.block-content .price {
  font-size: 54px;
  font-weight: bolder;
  color: white;
  margin: 8px 0;
  text-align: center;
}

.block-content .amplitude, .block .open-price {
  font-size: 12px;
  font-weight: normal;
  color: white;
  text-align: center;
}

